<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>

<div style="background:black;padding:10px;">
    <a href="/" style="color:white;margin:10px;">Home</a>
    <a href="/predict" style="color:white;margin:10px;">Prediction</a>
    <a href="/dashboard" style="color:white;margin:10px;">Database</a>
    <a href="/analytics" style="color:white;margin:10px;">Analytics</a>
    <a href="/about" style="color:white;margin:10px;">About</a>
</div>

<h1>🌱 AI Crop Recommendation System</h1>

<p>This system uses Machine Learning + MySQL Database to recommend the best crop based on soil and weather conditions.</p>

<h3>Features:</h3>
<ul>
    <li>Crop Prediction using ML</li>
    <li>Database Integration (MySQL)</li>
    <li>Real-time Prediction</li>
    <li>Data Visualization</li>
</ul>

</body>
</html>